.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center{
    width: 70%;
    margin: 10px auto;
    height: auto;
  }
  .card {
    min-height: 30em;
  }
  .text_red {
      color: #da190b;
  }
  .header 
  {
      width: 100%;
  }
  .ribbon {
      background-color: #e94340;
      z-index: 9999;
      position: absolute;
      height: 50px;
      top: 10px;
      left:170px;
      /* left: 42%;
      top:-0.5%; */
      box-shadow: 10px 3px 5px grey;
  }
  .ribbon span{
  }
  .text-center{
    display: flex;
    justify-content: center;
  }
