
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidenav mat-elevation-z4">
    <div class="sidenav_content">
      <div class="logo">
        <span style="text-decoration:none" routerLink="/">
          <span  id="logo" class="material-icons">
              spellcheck
          </span>
          <span id="text">
              VocabBooster
          </span>
        </span>
      </div>
        <br>
        <mat-divider></mat-divider>
        <div class="nav-buttons">
            <button mat-button color="primary" [ngClass]="{'selected': selected['AddWordComponent']}" class="mat-elevation-z4" [routerLink]="['add-word']"><span class="material-icons">library_add</span>Add word</button>
        </div>
    </div>
  </mat-drawer>
  <mat-drawer-content style="background-color: #e6e6e6">
    <router-outlet>
      
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>