/*laptop and pc */
.sidenav {
    width: 20%;
    height: 100%;
}
.example-container
{
    height: 100%;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;
}
div.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;

}
.nav-buttons button {
    height:50px;
    color: #808080;
    width: 100%;
    margin-bottom:10px;
}
.nav-buttons button.selected{
    background-color: #f44336;
    color: white;
    width: 100%;
    font-weight: 100;

}
.logo span#logo {
    font-size: 40px;
    color: #f44336;
}
.logo span#text {
    font-size: 20px;
    color: #808080;
}
#welcome-tagline {
    color:#808080; text-align:center;font-size:16px;
}
.menu-open {
    float: right;
}

/* mobile */

@media only screen and (max-width: 1150px) {
    .logo span#text{
        font-size: 15px;
    }
    .nav-buttons button {
        height:30px;
        width: 100%;
        font-size: 10px;
    }
    #welcome-tagline{
        font-size: 12px;
    }
    #btn-icon {
        font-size: 12px;
    }
    .sidenav {
        width: 40%;
    }
}