/* You can add global styles to this file, and also import other style files */

html, body { height: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text_white {
    color: #e4e4e4;
    font-weight: 100;
}
.full-form-field {
    width: 100%;
}.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center{
    width: 70%;
    margin: 10px auto;
    height: auto;
  }
  .card {
    min-height: 30em;
  }
  .text_red {
      color: #da190b;
  }
  .header 
  {
      width: 100%;
  }
  .ribbon {
      background-color: #e94340;
      z-index: 9999;
      height: 50px;
      top: 10px;
      /* left: 42%;
      top:-0.5%; */
      width:70%;
      padding-top:10px;
      box-shadow: 10px 3px 5px grey;
  }
  .ribbon span{
  }
  .text-center{
    display: flex;
    justify-content: center;
  }
  .with-ribbon {
      padding-top:5%;
  }
  button.red {
      background-color: #f44336;
  }
  .spinner ::after{
    background-color:#808080;
  }

  /*mobile*/
  @media only screen and (max-width: 1150px), (max-height: 600px){
    .card {
        min-height: 25px;
      }    
  }