
td.mat-cell, th.mat-header-cell {
/* row padding */
text-align: left;
overflow: auto;
padding:1px;
/* row border */
border-left: 1px solid #e4e4e4;
border-right: 1px solid #e4e4e4;
width: auto;
min-width:70px;
}
th {
background-color: #e94340;
font-weight: 100;
color: white;
box-shadow: 10px 3px 5px grey;
}

td.mat-cell:first-child {
/* row border */
border-left: 1px solid #e4e4e4;
}
tr:hover {background-color: #f5f5f5;}

td.mat-cell:last-child {
/* row border */
border-right: 1px solid #e4e4e4;
}
table {
/* row spacing / margin */
border-spacing: 0 10px !important;
border-collapse: collapse;
} 